*{
  padding : 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  opacity: 0;

  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar:hover{
  opacity: 1;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}